extends layout

block content

  h1 Type: #{type.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
      each item in type_items
        dt
          a(href=item.url) #{item.item_name}
        dd #{item.item_about}

      else
        p This genre has no books

    div
     a(href=type.url+'/delete') Delete Type
