extends layout

block content
  h1  #{item.item_name}
  h3 #{item.item_about}
  p #[strong Item type: ]
    each val, index in item.item_type
      a(href=val.url) #{val.name}
      if index < item.item_type.length - 1
        |,
  if item.item_image
   div
    img.itemImg(src="/uploads/" + item.item_image)
  div
   a(href=item.url+"/delete") Delete Item
  div
   a(href=item.url+"/update") Update Item
  div
   a(href=item.url+"/uploadfile") Add/Change Photo
