extends layout

block content

  h1 Type: #{type.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
      each book in type_items
        dt
          a(href=book.url) #{book.name}
        dd #{book.summary}

      else
        p This genre has no books

    p #{type_items}
